@use "./foundation" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  position: relative;
  text-align: -webkit-center;
}

a {
  color: $white;
  text-decoration: none;
}

#__nuxt {
  display: flex;
  position: relative;
  max-width: 400px;
  height: 100dvh;
}
