@use "./foundation" as *;

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  text-align: left;

  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: $gray300;
  position: relative;
  text-align: -webkit-center;
}

a {
  color: $white;
  text-decoration: none;
}

#__nuxt {
  display: flex;
  position: relative;
  max-width: $mobile;
  height: 100dvh;
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
